* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mol-dark: #333;
  --mol-light: white;
  --mol-primary: #dbe9ff;
  --mol-secondary: rgb(13, 13, 119);
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  ;
}